fastapi
numpy
pandas
scikit-learn
torch
transformers
uvicorn
# torchvision
pydantic
pytest
python-multipart
## The following requirements were added by pip freeze:
annotated-types
anyio
certifi
charset-normalizer
click
colorama
filelock
fsspec
h11
huggingface-hub
idna
iniconfig
Jinja2
joblib
MarkupSafe
mpmath
networkx
packaging
pillow
pluggy
pydantic_core
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scipy
six
sniffio
starlette
sympy
threadpoolctl
tokenizers
tqdm
typing_extensions
urllib3
## The following requirements were added by pip freeze:
accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
datasets
dill
frozenlist
httpcore
httpx
multidict
multiprocess
propcache
psutil
pyarrow
torchvision
xxhash
yarl
